@model IEnumerable<Evento>
@{
    ViewData["Title"] = "INICIO";
    ViewData["Nav"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idsEventosApuntados = (List<int>) ViewData["eventosApuntados"];
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<script src="~/js/index.js"></script>
<div class="d-block d-md-none">
    @if (User.Identity.IsAuthenticated)
            {
    <button class="btn"><i class="fa fa-bars" onClick="openAsideMenu()"></i></button>
    <aside id="small-aside-menu" class="hidden">
        
        <div>
            <button class="btn"><i class="fa fa-close" onClick="closeAsideMenu()"></i></button>
            <div id="reportrange" lang="es" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; font-size: 15px;">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
            
            <div>
                <a asp-action="MisEventos" asp-controller="Eventos"><button id="ver-eventos-button">Mis Eventos</button></a>
            </div>

            <div>
                <a asp-action="Create" asp-controller="Eventos"><button id="crear-evento-button">Crear nuevo <br> evento <br><i class="material-icons">add</i></button></a> 
            </div>
        </div>
    </aside>
         }
<button class="btn"><i class="fa fa-filter" onClick="openFilterMenu()"></i></button>
<aside id="small-filter-menu" class="hidden">
<div>
    <button class="btn"><i class="fa fa-close" onClick="closeFilterMenu()"></i></button>
    <div class="col-12 col-md-2">
        <select class="selectpicker" multiple title="Categoría" onchange="updateFiltroCategoria(this); filtrar()">
            <option value="+18">+18</option>
            <option value="Actividades outdoor">Actividades outdoor</option>
            <option value="Arte">Arte</option>
            <option value="Comunidad">Comunidad</option>
            <option value="Concierto">Concierto</option>
            <option value="Danza">Danza</option>
            <option value="Deportes">Deportes</option>
            <option value="Infantil">Infantil</option>
            <option value="Música">Música</option>
            <option value="Party">Party</option>
            <option value="Stand-up">Stand-up</option>
            <option value="Todo Público">Todo Público</option>
            <option value="Vida sana">Vida sana</option>
               
        </select>
    </div>
    <div class="col-12 col-md-2">
        <select class="selectpicker" multiple title="Comuna" onchange="updateFiltroComuna(this); filtrar()">
            <option value="CAUQUENES">Cauquenes</option>
            <option value="CHANCO">Chanco</option>
            <option value="COLBÚN">Colbún</option>
            <option value="CONSTITUCIÓN">Constitución</option>
            <option value="CUREPTO">Curepto</option>
            <option value="CURICÓ">Curicó</option>
            <option value="EMPEDRADO">Empedrado</option>
            <option value="HUALAÑÉ">Hualañé</option>
            <option value="LICANTÉN">Licanten</option>
            <option value="LINARES">Linares</option>
            <option value="LONGAVÍ">Longaví</option>
            <option value="MAULE">Maule</option>
            <option value="MOLINA">Molina</option>
            <option value="PARRAL">Parral</option>
            <option value="PELARCO">Pelarco</option>
            <option value="PELLUHUE">Pelluhue</option>
            <option value="PENCAHUE">Pencahue</option>
            <option value="RAUCO">Rauco</option>
            <option value="RETIRO">Retiro</option>
            <option value="RÍO CLARO">Río Claro</option>
            <option value="ROMERAL">Romeral</option>
            <option value="SAGRADA FAMILIA">Sagrada Familia</option>
            <option value="SAN CLEMENTE">San Clemente</option>
            <option value="SAN JAVIER">San Javier</option>
            <option value="SAN RAFAEL">San Rafael</option>
            <option value="TALCA">Talca</option>
            <option value="TENO">Teno</option>
            <option value="VICHUQUÉN">Vichuquén</option>
            <option value="VILLA ALEGRE">Villa Alegre</option>
            <option value="YERBAS BUENAS">Yerbas Buenas</option>
        </select>
    </div>
    <div class="col-12 col-md-2">
        <select class="selectpicker" multiple title="Mes" onchange="updateFiltroMes(this); filtrar()">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
    </div>
    <div class="col-12 col-md-2">
        <select class="selectpicker" multiple title="MeApunto" onchange="updateFiltroMeApunto(this); filtrar()">
            <option value="1">MeApunto</option>
        </select>
    </div>
</div>
</aside>
</div>
<div id="main-container">
        <aside id="main-menu">
            <div id="main-menu-wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <div id="reportrange" lang="es" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:100%; font-size: 15px;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            
                <div>
                    <a asp-action="MisEventos" asp-controller="Eventos"><button id="ver-eventos-button">Mis Eventos</button></a>
                </div>

                <div>
                    <a asp-action="Create" asp-controller="Eventos"><button id="crear-evento-button">Crear nuevo <br> evento <br><i class="material-icons">add</i></button></a> 
                </div>
            }
            <link href="/css/General/Todo.css" rel="stylesheet" />
        </div>
        </aside>
        <div id="main-content">
            <div id="main-organizar">
                <div id="main-filtrar" class="d-none d-md-flex row">
                    <div class="col-3">
                        <select class="selectpicker" multiple title="Categoría" onchange="updateFiltroCategoria(this); filtrar()">
                            <option value="+18">+18</option>
                            <option value="Arte">Arte</option>
                            <option value="Deportes">Deportes</option>
                            <option value="Familiar">Familiar</option>
                            <option value="Infantil">Infantil</option>
                            <option value="Música">Música</option>
                            <option value="Stand-Up">Stand-Up</option>
                            <option value="Comunidad">Comunidad</option>   
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="selectpicker" multiple title="Comuna" onchange="updateFiltroComuna(this); filtrar()">
                            <option value="CAUQUENES">Cauquenes</option>
                            <option value="CHANCO">Chanco</option>
                            <option value="COLBÚN">Colbún</option>
                            <option value="CONSTITUCIÓN">Constitución</option>
                            <option value="CUREPTO">Curepto</option>
                            <option value="CURICÓ">Curicó</option>
                            <option value="EMPEDRADO">Empedrado</option>
                            <option value="HUALAÑÉ">Hualañé</option>
                            <option value="LICANTÉN">Licanten</option>
                            <option value="LINARES">Linares</option>
                            <option value="LONGAVÍ">Longaví</option>
                            <option value="MAULE">Maule</option>
                            <option value="MOLINA">Molina</option>
                            <option value="PARRAL">Parral</option>
                            <option value="PELARCO">Pelarco</option>
                            <option value="PELLUHUE">Pelluhue</option>
                            <option value="PENCAHUE">Pencahue</option>
                            <option value="RAUCO">Rauco</option>
                            <option value="RETIRO">Retiro</option>
                            <option value="RÍO CLARO">Río Claro</option>
                            <option value="ROMERAL">Romeral</option>
                            <option value="SAGRADA FAMILIA">Sagrada Familia</option>
                            <option value="SAN CLEMENTE">San Clemente</option>
                            <option value="SAN JAVIER">San Javier</option>
                            <option value="SAN RAFAEL">San Rafael</option>
                            <option value="TALCA">Talca</option>
                            <option value="TENO">Teno</option>
                            <option value="VICHUQUÉN">Vichuquén</option>
                            <option value="VILLA ALEGRE">Villa Alegre</option>
                            <option value="YERBAS BUENAS">Yerbas Buenas</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="selectpicker" multiple title="Mes" onchange="updateFiltroMes(this); filtrar()">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="selectpicker" multiple title="MeApunto" onchange="updateFiltroMeApunto(this); filtrar()">
                            <option value="1">MeApunto</option>
                        </select>
                    </div>
                    <!--
                    <div class="container mt-5">
                        <select class="selectpicker" multiple title="Nombre" onchange="filtrarPorNombre(this)">
                            @foreach(var item in Model)
                            {
                                <option value="@item.Titulo">@item.Titulo</option>
                            }
                        </select>
                    </div>
                    -->
                </div>
                <!-- <div id="main-ordenar">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Ordenar por
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a  class="dropdown-item" asp-action="OrderCategoria">Categoria</a></li>
                          <li><a  class="dropdown-item" asp-action="OrderLugar">Lugar</a></li>
                        </ul>
                      </div>
                </div> -->
            </div>
         <!-- CARRUSEL PAARA EVENTOS PREMIUM -->
 <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner px-5">
                @for(var i = 0 ; i < Model.Count() ; i++)
                {if (Model.ToArray()[i].Usuario.Tipo_usuarioId == 4)
                    {
                        
                    
                    <div class="carousel-item @(i==0 ? "active" : "")">
                        <div class="container">
                            <div class="row">
                                 @{
                                    var item = Model.ToArray()[i];
                                    if(item.Usuario.Tipo_usuarioId == 4)
                                    {
                                        <!-- CARD DE EVENTOS -->
                                        <!--Card-->
                                        <div class="col-12 col-md-6">
                                            <div class="div-card2" style="background-size: cover; background-image: url('/img/Cat/@(@item.Categoria.categoria).png');">
                                                <div class="div-card-image2">
                                                    <div class="img-logo-card">
                                                        <img src="~/img/logo/P.png" width="40px"/>
                                                    @if(idsEventosApuntados.Any(id => item.Id == id))
                                                    {
                                                        <img src="~/img/logo/M.png" class="logo-meapunto" width="50px"/>
                                                    }
                                                                                                         
                                                    </div>
                                                </div>
                                                <div class="div-card-content2">
                                                    <div class="div-card-titulo2">
                                                        <h3>@item.Titulo</h3>
                                                    </div>
                                                    <div class="div-card-description2">
                                                        Fecha: <strong>@item.Fecha_evento.ToString("dd/MM/yyyy"), @item.Hora_inicio.ToString("HH:mm")</strong><br/>
                                                        Dirección: <strong>@item.Direccion</strong><br/>
                                                        Categoría: <strong>@item.Categoria.categoria</strong>
                                                    </div>
                                                    <div class="div-card-buttons2">
                                                        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-@item.Id">+info</button>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        if(idsEventosApuntados.Any(id => item.Id == id))
                                                        {
                                                            <a asp-action="Desapunto" asp-route-Id="@item.Id"><button class="boton-card-apuntado">Apuntado</button></a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-action="MeApunto" asp-route-Id="@item.Id"><button>meApunto</button></a>
                                                        }
                                                    }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                   }}
                                <!--Card-->
                                @{
                                    i++;
                                    while ( i < Model.Count() && Model.ToArray()[i].Usuario.Tipo_usuarioId != 4 )
                                    {
                                        i++;
                                    }
                                }
                                @if (i<Model.Count())
                                {
                                    item = Model.ToArray()[i];
                                    if(item.Usuario.Tipo_usuarioId == 4)
                                    {
                                <div class="col-12 col-md-6">
                                    <div class="div-card2" style="background-size: cover; background-image: url('/img/Cat/@(@item.Categoria.categoria).png');">
                                        <div class="div-card-image2">
                                            <div class="img-logo-card">
                                                <img src="~/img/logo/P.png" width="40px"/>
                                                 @if(idsEventosApuntados.Any(id => item.Id == id))
                                                        {
                                                            <img src="~/img/logo/M.png" class="logo-meapunto" width="50px"/>
                                                        }
                                            </div>
                                        </div>
                                        <div class="div-card-content2">
                                            <div class="div-card-titulo2">
                                                <h3>@item.Titulo</h3>
                                            </div>
                                            <div class="div-card-description2">
                                                Fecha: <strong>@item.Fecha_evento.ToString("dd/MM/yyyy"), @item.Hora_inicio.ToString("HH:mm")</strong><br/>
                                                Dirección: <strong>@item.Direccion</strong><br/>
                                                Categoría: <strong>@item.Categoria.categoria</strong>
                                            </div>
                                            <div class="div-card-buttons2">
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-@item.Id">+info</button>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    if(idsEventosApuntados.Any(id => item.Id == id))
                                                    {
                                                        <a asp-action="Desapunto" asp-route-Id="@item.Id"><button class="boton-card-apuntado">Apuntado</button></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-action="MeApunto" asp-route-Id="@item.Id"><button>meApunto</button></a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }}
                            </div>
                        </div>
                    </div>
                    }}
                </div>



                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            <div class="grid">
            @foreach (var item2 in Model)
            {
               
                <div id="col-@item2.Id" class="columna">
                    <div class="div-card2" style="background-size: contain; background-image: url('/img/Cat/@(@item2.Categoria.categoria).png'); width: 100%">
                    <div class="div-card-image2">
                    <div class="img-logo-card">
                     @if(idsEventosApuntados.Any(id => item2.Id == id))
                        {
                            <img src="~/img/logo/M.png" class="logo-meapunto" width="50px"/>
                        }
                        </div>
                    </div>
                 
                 
                 
                        <div class="div-card-content2">
                            <div class="div-card-titulo2">
                                <h3>@item2.Titulo</h3>
                            </div>
                            <div class="div-card-description2">
                                Fecha: <strong>@item2.Fecha_evento.ToString("dd/MM/yyyy"), @item2.Hora_inicio.ToString("HH:mm")</strong><br/>
                                Dirección: <strong>@item2.Direccion</strong><br/>
                                Categoría: <strong>@item2.Categoria.categoria</strong>
                            </div>
                            <div class="div-card-buttons2">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-@item2.Id">+info</button>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if(idsEventosApuntados.Any(id => item2.Id == id))
                                    {
                                        <a asp-action="Desapunto" asp-route-Id="@item2.Id"><button class="boton-card-apuntado">Apuntado</button></a>
                                    }
                                    else
                                    {
                                        <a asp-action="MeApunto" asp-route-Id="@item2.Id"><button>meApunto</button></a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="modal-@item2.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="color:black; width: 100%; text-transform: uppercase;" class="modal-title "
                                id="exampleModalLabel">@item2.Titulo</h4>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0px;">                                                               
                            <div class="row" style="padding: 0.5em; padding-bottom: 3em">
                                <div class="col col-md-6">
                                    <img src="/img/Cat/@(@item2.Categoria.categoria).png" style="width: 100%;"/>
                                </div>
                                <div class="col col-md-6">
                                    <div class="row">
                                        <div class="col-4"><strong>Categoría</strong></div>
                                        <div class="col-8">@item2.Categoria.categoria</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Dirección</strong></div>
                                        <div class="col-8">@item2.Direccion</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Fecha</strong></div>
                                        <div class="col-8">@item2.Fecha_evento.ToString("dd/MM/yyyy")</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Hora inicio</strong></div>
                                        <div class="col-8">@item2.Hora_inicio.ToString("HH:mm")</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Hora término</strong></div>
                                        <div class="col-8">@item2.Hora_termino.ToString("HH:mm")</div>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color:lightgray; padding: 20px;">
                                <div class="row d-flex justify-content-center">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if(idsEventosApuntados.Any(id => item2.Id == id))
                                        {
                                         <a asp-action="Desapunto" asp-route-Id="@item2.Id" class="btn btn-primary boton-modal-apuntado">
                                             <img src="~/img/logo/Logo-MeApunto!-Puntero-Negro.png" style="width: 10em;"/>
                                         </a>
                                        }
                                        else
                                        {
                                        <a asp-action="MeApunto" asp-route-Id="@item2.Id" class="btn btn-primary" style="background-color:rgb(126, 10, 117); border-color: rgb(126, 10, 117); width:fit-content; transform: translateY(-85%); z-index: 9999;">
                                            <img src="~/img/logo/Logo-MeApunto!-Puntero-Negro.png" style="width: 10em;"/>  
                                        </a>
                                        }
                        
                                }
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: -2em ;">
                                    <p style="text-transform: uppercase;">
                                        @item2.Descripcion
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            </div>
            </div>
            </div>
                
            

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
        <span>Ponte en contacto con nuestras redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
        </a>
    </div>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Me apunto!
            </h6>
            <p>
            Garantizando excelencia, servicio y compromiso a todos los miembros de nuestra red de actividades. No dudes en contactarnos.
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Interes
            </h6>
            <p>
            <a href="#!" class="text-reset"></a>
            </p>
            <p>
            <a href="#!" class="text-reset">informacion</a>
            </p>
            <p>
            <a href="#!" class="text-reset">sugerencias</a>
            </p>
            <p>
            <a href="#!" class="text-reset">Otros</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Links de ayudas
            </h6>
            <p>
            <a href="mailto:soporte@MeApuntoWeb.com" class="text-reset">Consultas</a>
            </p>
            <p>
            <a href="mailto:soporte@MeApuntoWeb.com" class="text-reset">Problemas</a>
            </p>
            <p>
            <a href="mailto:soporte@MeApuntoWeb.com" class="text-reset">Reclamos</a>
            </p>
            <p>
            <a href="mailto:soporte@MeApuntoWeb.com" class="text-reset">Ayuda</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Curico, San Rodrigo 2165</p>
            <p><i class="fas fa-envelope me-3"></i><a href="mailto:soporte@MeApuntoWeb.com">soporte@MeApuntoWeb.com</a></p>
            <p><i class="fas fa-phone me-3"></i><a href="https://wa.me/+56998197676">+56 9 9819 7676</a></p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" asp-action="Index">MeApuntoWeb.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"
    integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

    var eventosArray = [];

    @foreach (var item in Model)
    {
        @:eventosArray.push({ "Id": "@item.Id", "Titulo": "@item.Titulo", "Descripcion": "@item.Descripcion", "Fecha_evento": "@item.Fecha_evento", "Hora_inicio": "@item.Hora_inicio", "Hora_termino": "@item.Hora_termino", "Direccion": "@Html.Raw(item.Direccion)", "Estado": "@item.Estado", "Categoria": "@Html.Raw(item.Categoria.categoria)", "Mes": "@item.Fecha_evento".split('/')[1] });
    }
    console.dir(eventosArray);

var idsEventosApuntados = [];

    @foreach (var id in idsEventosApuntados)
    {
        @:idsEventosApuntados.push(@id)
    }


var selectedCategorias = [];
var selectedComunas = [];
var selectedMeses = [];
var selectedMeApunto = [];

function updateFiltroCategoria(selectPicker) {
    let options = [...selectPicker.options];
    let selected = options.filter(o => o.selected);
    let values = selected.map(o => o.value); //["cat1", "cat2", "cat3"]
    selectedCategorias = values;
}
function updateFiltroComuna(selectPicker) {
    let options = [...selectPicker.options];
    let selected = options.filter(o => o.selected);
    let values = selected.map(o => o.value); //["curico", "curepto", "talca"]
    selectedComunas = values;
}
function updateFiltroMes(selectPicker) {
    let options = [...selectPicker.options];
    let selected = options.filter(o => o.selected);
    let values = selected.map(o => o.value); //["enero", "debrero", "marzo"]
    selectedMeses = values;
}

function updateFiltroMeApunto(selectPicker) {
    let options = [...selectPicker.options];
    let selected = options.filter(o => o.selected);
    let values = selected.map(o => o.value); //[MeApunto]
    selectedMeApunto = values;
}

// Aplica todos los filtros
function filtrar() {

    console.log("selectedMeApunto: ", selectedMeApunto);
    console.log("idsEventosApuntados: ", idsEventosApuntados);

    // Eventos a mostrar
    let eventosSeleccionados = eventosArray.filter(evento => {
        return (selectedCategorias.length === 0 || selectedCategorias.find(cat => cat === evento.Categoria))
            && (selectedComunas.length === 0 || selectedComunas.find(comuna => evento.Direccion.startsWith(comuna)))
            && (selectedMeses.length === 0 || selectedMeses.find(mes => mes === evento.Mes))
            && (selectedMeApunto.length === 0 || idsEventosApuntados.find(id => id == evento.Id));
    });

    // Eventos a esconder => eventosArray - eventosSeleccionados
    let eventosNoSeleccionados = eventosArray.filter(evento => {
        return !eventosSeleccionados.find(eS => eS.Id === evento.Id);
    });

    // Mostrar u ocultarelse
    mostrar(eventosSeleccionados);
    ocultar(eventosNoSeleccionados);
}

function mostrar(eventosSeleccionados) {
    eventosSeleccionados.forEach(evento => {
        document.querySelector("#col-" + evento.Id).classList.remove("hidden");
    })
}

function ocultar(eventosNoSeleccionados) {
    eventosNoSeleccionados.forEach(evento => {
        document.querySelector("#col-" + evento.Id).classList.add("hidden");
    })
}

</script>

<script>
    // Abrir y cerrar menu lateral en pantalla pequeña
function openAsideMenu() {
    document.querySelector("#small-aside-menu").classList.remove("hidden");
}
function closeAsideMenu() {
    document.querySelector("#small-aside-menu").classList.add("hidden");
}


    // Abrir y cerrar menu de filtros en pantalla pequeña
function openFilterMenu() {
    document.querySelector("#small-filter-menu").classList.remove("hidden");
}
function closeFilterMenu() {
    document.querySelector("#small-filter-menu").classList.add("hidden");
}
</script>