@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "ADMINISTRADORES";
    ViewData["Nav"] = "USUARIOS ADMINISTRADORES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style2" rel="stylesheet"/>
<br>
<div class="container">
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Admin" asp-controller="Home">Volver</a>
}else{
            
}
<a asp-action="CreateAdmin" class="btn btn-primary col-2 "><i class="bi bi-person-plus-fill">&nbsp; Crear usuario administrador</i></a>
<br>
<br>
  <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    if (item.Tipo_usuarioId == 1)
                    {
                        <tr>
                <td>
                    @item.Nombres @item.Apellidos
                </td>
                <td>
                    @item.NombreUsuario
                </td>
                <td>
                    @item.Correo
                </td>
                <td>
                    <a asp-action="Bloquear" asp-route-Id="@item.Id"><i href="#" class="bi bi-trash2-fill btn"> Bloquear</i></a>
                </td>
            </tr>
                    }
                }
    </tbody>
</table>
</div>