@model IEnumerable<Evento>

<link href="/css/Usuario/MisEventos.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<script src="~/js/index.js"></script>
<div id="main-container">
        <aside id="main-menu">
            <div id="main-menu-wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <div id="reportrange" lang="es" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; font-size: 15px;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>

                <div>
                    <a asp-action="Create" asp-controller="Eventos"><button id="crear-evento-button">Crear nuevo <br> evento <br><i class="material-icons">add</i></button></a> 
                </div>
            }
            else
            {
                
            }
            <link href="/css/General/Todo.css" rel="stylesheet" />
        </div>
        </aside>

<div id="main-content">
    @foreach (var item in Model)
        {
    <div class="my-event">
        
            <div class="my-event-imagen">
                <img src="~/img/Cat/@(item.Categoria.categoria).png" style="width: 150px; margin: 10px; padding: 0;"/>
            </div>

            <div class="my-event-content">
                <h2></h2>
                <div>@item.Fecha_evento.ToString("dd/MM/yyyy") en @item.Direccion</div>
                <div><small>@item.Categoria.categoria</small></div>
            </div>
            <div class="my-event-estado">
                @if (@item.Estado == "Aceptado")
                    {
                    <span  class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                        <label style="color:white;">@item.Estado</label>
                    </span>
                    }else if (@item.Estado == "Pendiente")
                    {
                    <span  class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-warning bg-opacity-10 border border-success border-opacity-10 rounded-2">
                        <label style="color:white;">@item.Estado</label>
                    </span>
                    }else if (@item.Estado == "Bloqueado")
                    {
                        <span  class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-danger bg-opacity-10 border border-success border-opacity-10 rounded-2">
                            <label style="color:white;">@item.Estado</label>
                        </span>
                    }
                
            </div>
            <div class="my-event-boton">
                @if (@item.Estado == "Pendiente")
                    {
                    <a asp-action="Edit" class="btn my-btn-action"><i class="material-icons">edit</i></a>
                    <a asp-action="Delete" class="btn my-btn-action"><i class="material-icons">delete</i></a>
                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal-@item.Id"><i class="material-icons">info</i></a>
                    }else
                    {
                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal-@item.Id"><i class="material-icons">info</i></a>
                    }
            </div>

            <div class="modal fade" id="modal-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="color:black; width: 100%; text-transform: uppercase;" class="modal-title "
                                id="exampleModalLabel">@item.Titulo</h4>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0px;">                                                               
                            <div class="row" style="padding: 0.5em; padding-bottom: 3em">
                                <div class="col col-md-6">
                                    <img src="/img/Cat/@(@item.Categoria.categoria).png" style="width: 100%;"/>
                                </div>
                                <div class="col col-md-6">
                                    <div class="row">
                                        <div class="col-4"><strong>Categoría</strong></div>
                                        <div class="col-8">@item.Categoria.categoria</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Dirección</strong></div>
                                        <div class="col-8">@item.Direccion</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Fecha</strong></div>
                                        <div class="col-8">@item.Fecha_evento.ToString("dd/MM/yyyy")</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Hora inicio</strong></div>
                                        <div class="col-8">@item.Hora_inicio.ToString("HH:mm")</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><strong>Hora término</strong></div>
                                        <div class="col-8">@item.Hora_termino.ToString("HH:mm")</div>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color:lightgray; padding: 20px;">
                                <div class="d-flex justify-content-center" style="margin-top: -2em ;">
                                    <p style="text-transform: uppercase;">
                                        @item.Descripcion
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
     }
</div>
</div>