@model IEnumerable<Evento>

<link href="/css/Usuario/MisEventos.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<script src="~/js/index.js"></script>
<div id="main-container">
        <aside id="main-menu">
            <div id="main-menu-wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <div id="reportrange" lang="es" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; font-size: 15px;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>

                <div>
                    <a asp-action="Create" asp-controller="Eventos"><button id="crear-evento-button">Crear nuevo <br> evento <br><i class="material-icons">add</i></button></a> 
                </div>
            }
            else
            {
                
            }
            <link href="/css/General/Todo.css" rel="stylesheet" />
        </div>
        </aside>

<div id="main-content">
    <div class="my-event">
        @foreach (var item in Model)
        {
            <div class="my-event-imagen">
                <img src="~/img/Cat/@item.Categoria.categoria+.png" alt="20px"/>
            </div>

            <div class="my-event-content">
                <h2></h2>
                <div>@item.Fecha_evento.ToString("dd/MM/yyyy") en @item.Direccion</div>
                <div><small>@item.Categoria.categoria</small></div>
            </div>
            <div class="my-event-estado">
                @if (@item.Estado == "Aceptado")
                    {
                    <span  class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                        <label style="color:white;">@item.Estado</label>
                    </span>
                    }else if (@item.Estado == "Pendiente")
                    {
                    <span  class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-warning bg-opacity-10 border border-success border-opacity-10 rounded-2">
                        <label style="color:white;">@item.Estado</label>
                    </span>
                    }else if (@item.Estado == "Bloqueado")
                    {
                        <span  class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-danger bg-opacity-10 border border-success border-opacity-10 rounded-2">
                            <label style="color:white;">@item.Estado</label>
                        </span>
                    }
                
            </div>
            <div class="my-event-boton">
                <a asp-action="" class="btn my-btn-action"><i class="material-icons">info</i></a>
                <a asp-action="" class="btn my-btn-action"><i class="material-icons" disabled>edit</i></a>
                <a asp-action="" class="btn my-btn-action"><i class="material-icons">delete</i></a>
                        
            </div>
        }
    </div>
</div>
</div>